PORT=3001
JWT_SECRET=minha_chave_super_segura
JWT_REFRESH_SECRET=minha_chave_refresh_super_segura

# Variáveis do Banco de Dados
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=playlist_db
